
.header-nav {
  text-align: center;
  margin-bottom: 1em;
}

.header-nav h1 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.nav-item {
  width: 140px;
}

a.nav-link img {
  width: 64px;
  border-radius: 50%;
  filter: saturate(0.0);
  -webkit-filter: saturate(0.0);
  transition-property: filter, -webkit-filter, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border: 1px solid #444;
}

a.nav-link span {
  display: block;
  color: initial;
  opacity: 0.3;
  margin-top: .5em;
  line-height: 1.0;
}

a.nav-link.active span {
  opacity: 1.0;
}

a.nav-link:hover span {
  opacity: 1;
}

a.nav-link.active img, a.nav-link:hover img {
  filter: saturate(1.0);
  -webkit-filter: saturate(1.0);
}

a.nav-link:hover img, a.nav-link:hover span {
  opacity: 1.0;;
}

@media print {
  body {
    font-size: 16px;
    padding: 1in;
  }

  .print-hidden {
    display: none;
  }

  .inner-container, .container {
    width: 100%;
    max-width: 100%;
  }
}