people/*
people_*.csv
peopleVisualizer/test.png
peopleVisualizer/.DS_Store
peopleVisualizer/*.png

__pycache__/*
.DS_Store
.vscode/*
outdata/score_*/
outdata/gps.csv
outdata/metadata.json
outdata/best_daily.csv
outdata/best_daily/*
outdata/people_data.json
outdata/people.json
outdata/people_rel.json
outdata/calendar_heatmap.csv
outdata/stats.json
export.py

