people/*
people_*.csv
peopleVisualizer/test.png
peopleVisualizer/.DS_Store
peopleVisualizer/*.png

__pycache__/*
.DS_Store
.vscode/*
outdata/score_*/
outdata/gps.csv
outdata/metadata.json
outdata/best_daily.csv
outdata/best_daily/*